@media (max-width: 992px) {
  ul.navbar-nav.mr-auto.mt-2.mt-lg-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
  }

  form.form-inline.my-2.my-lg-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
  }

  .dropdown-menu {
    position:absolute;
  }
}

@media (min-width: 992px) {
  form.form-inline.my-2.my-lg-0 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px
  }
}

.z-index9 {
    z-index: 9;
}

.form-card-cover {
  width: 100%;
  height: 300px;
}

.ahfhfneahdsjfd {
  position: relative;
}

.form-body {
  background-color: white;
  border-radius: 0.25rem;
  min-width: 320px;
}

.akopliuyts {
  border: 1rem solid transparent;
}

.hshbdjhdi {
  padding: 1rem;
}

.border-space-fix {
  border-top: 2px solid transparent;
}

.btn-menu-apouqjsdlk {
  border: none;
  background: transparent !important;
  color: rgba(255,255,255,.5);
}

.btn-menu-apouqjsdlk:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-menu-apouqjsdlk:hover {
  background-color: transparent;
  color: rgba(255,255,255,.75);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}